.col {
	width:32%;
	height:99vh;
	overflow-y:auto;
	margin-right:1%;
	border-right: 1px solid black;
}
.current_match {
	background-color: #00FF8C;
}
body {
	background-color: #FF8C00;
	margin:0px;
}
table {
    border-collapse: collapse;
	margin-top:1em;
}

table, th, td {
    border: 1px solid black;
}
th, td {
	padding:0.1em;
}
.year-select {
	width:4em;
}
.filter {
	border: 1px solid black;
	display:inline-block;
	padding:0.3em;
}